@import "../../colors.scss";

.navBar{
    background-color: $NavBarColor;

    padding-right: 3rem;
    padding-left: 3rem;

    display: grid;
    grid-template-columns: auto max-content;
    position: sticky;
    align-items: center;

    top: 0;
    height: 40px;
    z-index: 1;
}

.titleLabel{
    font-weight: 500;
    margin: 0;
    margin-right: 3rem;
    font-size: larger;
    color: $bigLabel;
}

.actionsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


