$ContainerBackgroundColor : #efefef;
$BackgroundColor : white;
$ButtonColor : black;
$AColor :#646cff;
$AHoverColor : #535bf2;

//NavBar
$FontColor : black;
$NavBarColor : rgb(197, 197, 197);
$NavBarBorderColor : black;

//CustomTab
$TabFontColor : black;
$DisabledTabColor: #d9d9d9;
$TabFocus : #9b9494;

$dropShadow : rgba(0, 0, 0, 0.19);
$bigLabel : var(--primary-color);
$secondaryLabel : var(--text-color-secondary);

//LoadingButton
$LoadingButtonFont : White;
$LoadingButtonFocus : #9b9494;