$ContainerBackgroundColor : #efefef;
$BackgroundColor : white;
$ButtonColor : black;
$AColor :#646cff;
$AHoverColor : #535bf2;

//NavBar
$FontColor : black;
$NavBarColor : white;
$NavBarBorderColor : black;

//CustomTab
$TabFontColor : black;
$DisabledTabColor: #d9d9d9;
$TabFocus : #9b9494;

//Notifications
$NotifBackgroudColor : #D6001A;
$NotifBackgroudColorHover : #842526;
$SuccessNotifBackgroudColor : #00AA13;
$SuccessNotifBackgroudColorHover : #29682c;
$NotificationFontColor: white;

//ActiveCallTab
$CallButton : #37AA43;
$CallButtonDisabled : gray;
$CallButtonHover : #29682c;

//RoundButton
$ClearCallButton: #D6001A;
$PickupCallButton : #37AA43;
$CallButtonBackground : white;
$CallButtonFont: white;
$RoundButtonHoverColor: #bab2b2;
$RoundButtonRippleColor: #9b9494;

//KeyboardColor
$KeyboardHoverColor: #bab2b2;
$KeyboardRippleColor: #9b9494;
$KeyboardInputBorderColor: #d9d9d9;
$KeyboardInputBorderColor: #d9d9d9;
$TransparentRoundHoverFocusColor : #9b9494;

//contextMenu
$ContextMenuBackground : white;
$ContextMenuShadow : rgba(0, 0, 0, 0.25);
$ContextMenuItemHover : #bab2b2;
$MenuItemRippleColor: #9b9494;


//Contacts
$AvailableStatus :#37AA43;
$RingingStatus : orange;
$BusyStatus : red;
$SubscriptionError : red;
$ContactNumberButtonLabel : #323232;
$ContactNumberButtonLabel : #323232;
$InputBoxBackgroundColor : black;
$InputBoxFocus : #9b9494;
$InputBoxFontColor : white;
$favoriteIconColor : black;
$AddDataButtonFont : black;
$AddDataButtonBackground : white;
$AddDataButtonFocus : #9b9494;

//ToggleBox
$BackgroundToggleBox : black;
$ToggleBoxFont : white;
$ToggleBoxSelectedItem : #636161;
$ToggleBoxHoverItem : #a09c9c;


//LoadingButton
$LoadingButtonFont : White;
$LoadingButtonFocus : #9b9494;

//Input
$InputPlaceholderBackgroud : white;
$InputAccentColor : black;
$errorColor : #D6001A;


//pagination
$UnselectedFontColor : black;
$UnselectedBackground : white;
$UnselectedHoverBorderColor : #dee2e6;
$UnselectedHoverBackground : #e9ecef;
$SelectedBoxShadow : rgba(35, 35, 36, 0.25);
$SelectedFontColor : white;
$SelectedBackground : black;
$SelectedBorder : black;
$DisabledPageColor : #6c757d;