@import "../../colors.scss";

.layoutDiv{
    margin-top: 4rem;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100%;
}

.standardDiv{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.loadingDiv{
    height: 130px;
    margin-top: 4rem;
}

.title{
    font-size: xx-large;
    font-weight: 600;
    color: $bigLabel;
    margin-top: 0;
}

.rowDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    max-width: 500px;
    margin-bottom: 1rem;
}

.propertyLabel{
    font-size: large;
    font-weight: 600;
    color: $secondaryLabel;
    &.value{
        color: $bigLabel;
    }
}

.errorMessage{
    color: $errorColor;
    margin-bottom: 0rem;
}

@media (max-width: 800px) {
    .layoutDiv{
        grid-template-columns: 1fr;
    }

    .standardDiv{
        align-items: center;
    }

    .image{
        max-width: 400px;
    }
}